!!! 5
%html{lang: "en"}
  %head
    %title Frecklinghamster
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
%body
  .container-fluid
    = yield